/*Background */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*Background end*/


.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  padding: 2rem;
  align-items: baseline;
  gap: 12px;
  border-style: solid;
  background-color: aqua;
}

@media only screen and (max-width: 600px) {
  .header {
    background-color: #ee7752;
    flex-direction: column;
    justify-content: end;
    font-size: x-small;
    align-items: flex-end;
  }
}

.header-items {
  padding: 0.4rem;
}

.header-link {
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  color: white
}


.header-item-button {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  -webkit-font-smoothing: antialiased;
  color: rgb(104, 115, 141);
  fill: rgb(104, 115, 141);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 24px;
  -webkit-box-align: center;
  align-items: center;
  background-origin: border-box;
  border-radius: 12px;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: fit-content;
  font-size: 16px;
  padding: 1px 14px;
}

.subgraph-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}