.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  padding: 2rem;
  align-items: baseline;
  gap: 12px;
}

.header-items {
  padding: 0.4rem;
}

.header-link {
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  color: grey;
}


.header-item-button {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  -webkit-font-smoothing: antialiased;
  color: rgb(104, 115, 141);
  fill: rgb(104, 115, 141);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 24px;
  -webkit-box-align: center;
  align-items: center;
  background-origin: border-box;
  border-radius: 12px;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: fit-content;
  font-size: 16px;
  padding: 1px 14px;
}