@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Poppins:wght@200;600;700&family=Roboto:wght@400;700&display=swap");

/* ------------------ Section 1 ------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
}

.section-1 {
  width: 100%;
  min-height: 100vh;
  background-color: #0c0a1d;

  text-align: center;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../public/assets1/back.jpg");

  background-position: center;
  background-size: cover;
  position: relative;
}

.title-1 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -2px;
  text-shadow: 0 0 80px rgba(192, 219, 255, 0.48),
    0 0 32px rgba(65, 120, 255, 0.24);
  color: rgba(255, 255, 255, 0.96);
  text-align: center;

  margin-bottom: 50px;
}

.text-1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.88);
  margin-bottom: 1rem;
  text-align: center;

  margin-bottom: 50px;
}

.button-1 {
  background-color: rgb(98, 70, 139);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;

  margin-top: 20px;

  transition: opacity 0.15s;
}

.button-1:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .title-1 {
    font-size: 3rem;
  }

  .text-1 {
    font-size: 14px;
  }
}

/* ------------------ Section 2 ------------------- */
.section-2 {
  width: 100%;
  min-height: 100vh;
  background-color: #0c0a1d;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 24px;
  padding-right: 24px;

  z-index: 1;
}

.row {
  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
}

.borderBox {
  background-color: var(--theme-ui-colors-background);
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 24px;
  border-radius: 8px;

  flex-basis: 55%;
}

.second-col {
  flex-basis: 34%;
}

.img-2 {
  width: fit-content;
}

.title-2 {
  font-weight: 600;
  font-size: 3.5rem;
  text-shadow: 0 0 80px rgba(192, 219, 255, 0.48),
    0 0 32px rgba(65, 120, 255, 0.24);
  letter-spacing: -1.6px;
  line-height: 4rem;
  color: rgba(255, 255, 255, 0.96);
  margin-bottom: 1.2rem;

  text-align: left;
}

.text-22 {
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0px;
  color: rgba(255, 255, 255, 0.88);
}

.text-2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  opacity: 0.96;
  margin: 0px;
  font-weight: 600;
  padding-bottom: 24px;
}

.line-2 {
  height: 1px;
  background: rgba(255, 255, 255, 0.16);
}

@media only screen and (max-width: 600px) {
  .section-1 {
    padding-bottom: 0;
  }
  .section-2 {
    padding-top: 0;
  }

  .row {
    margin: 0;
    flex-direction: column-reverse;
  }

  .img-2 {
    width: 100%;
  }

  .title-2 {
    font-size: 2.5rem;
  }

  .text-22 {
    font-size: 1rem;
  }
}

/* ------------------ Section 3 ------------------- */
.section-3 {
  width: 100%;
  min-height: 100vh;
  background-color: #0c0a1d;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 24px;
  padding-right: 24px;

  text-align: center;
}

/* ------------------ Section 4 ------------------- */
.section-4 {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #0c0a1d;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 24px;
  padding-right: 24px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: rgba(255, 255, 255, 0.04);
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}

.course-col:hover {
  /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2); */
  transform: translate3D(0, -1px, 0) scale(1.02);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.04);
}

.image {
  width: 60%;
  margin-bottom: 10px;
}

.showMore-button {
  background-color: rgb(58, 58, 58);
  color: white;
  border: none;
  height: 40px;
  width: 110px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin-right: 8px;
  transition: 0.5s;
}

.showMore-button:hover {
  transform: translate3D(0, -1px, 0) scale(1.02);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.04);
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
